.center{

    width: 50px;
    height: 50px;
   
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px

}

.container{

text-align: center;    

}


.contenedor {
    
    position: relative;
  }
  
  .hijo {
    width: 50px;
    height: 50px;
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  }